/* General section styling */
#about {
  width: 100%;
  max-width: 100%;
  margin-bottom: 30px;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(
    to right,
    rgba(9, 9, 10, 1),
    rgba(10, 10, 12, 1),
    rgba(11, 11, 13, 1),
    rgba(12, 12, 14, 1),
    rgba(13, 13, 15, 1),
    rgba(14, 14, 16, 1),
    rgba(15, 15, 17, 1),
    rgba(16, 16, 18, 1),
    rgba(17, 17, 19, 1),
    rgba(18, 18, 20, 1),
    rgba(20, 20, 22, 1),
    rgba(22, 22, 24, 1),
    rgba(24, 24, 26, 1),
    rgba(22, 22, 24, 1),
    rgba(20, 20, 22, 1),
    rgba(18, 18, 20, 1),
    rgba(17, 17, 19, 1),
    rgba(16, 16, 18, 1),
    rgba(15, 15, 17, 1),
    rgba(14, 14, 16, 1),
    rgba(13, 13, 15, 1),
    rgba(12, 12, 14, 1),
    rgba(11, 11, 13, 1),
    rgba(10, 10, 12, 1),
    rgba(9, 9, 10, 1)
  );
}

/* Grid layout for left, center, and right content */
.about-grid {
  padding-top: 25px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 5.5rem;
}

@media (min-width: 768px) {
  .about-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Styling for the image container */
.image-container {
  width: 100%;
  height: 96.5vh;
  overflow: hidden;
  position: relative;
  margin: 0;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

/* Center content alignment and styling */
.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  padding: 0 0rem;
}

.content-wrapper {
  max-width: 28rem;
}

/* Subtitle styling */
.about-subtitle {
  font-size: 2.875rem;
  letter-spacing: 0.05em;
  color: #666;
  text-align: center;
  margin-bottom: 0.5rem;
}

/* Paragraph (description) styling */
.about-description {
  color: #666;
  margin-bottom: 1rem;
  line-height: 1.5;
  font-size: 1.15rem;
}

/* Responsiveness for images */
@media (max-width: 768px) {
  .image-container {
    height: 20rem; /* Adjust to smaller height on mobile */
  }
}
